@import url("./tailwind.css");

.article {
  @apply mt-8;
}

.article h2 {
  @apply text-dark text-xl leading-normal mb-8;
}

.article p {
  @apply text-dark text-lg leading-[28px];
}

.article img {
  @apply max-w-[800px] mx-auto xl:w-auto w-full rounded;
}

.article figure {
  @apply max-w-[800px] mx-auto xl:w-auto w-full inline-block;
}

.article figure figcaption {
  @apply leading-[24px] text-light-dark mt-2;
}

.article .video-wrapper {
  @apply relative w-full p-0 overflow-hidden pb-[56.25%];
}

.article .video-wrapper iframe {
  @apply absolute inset-0 w-full h-full border-0;
}

@screen xl {
  .article iframe {
    @apply max-w-[800px] mx-auto;
  }
}

@media (max-width: 800px) {
  .article iframe {
    @apply w-full h-auto;
  }
}

.img {
  @apply text-center;
}

.img figcaption {
  @apply text-left;
}
