<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>about</title>
</head>

<body>
  <!-- header -->
  <%= require('html-loader?{"minimize":false,"sources":false}!../components/header.html').default %>
    <main
      class="container mx-auto xl:pb-[72px] xl:pt-6 xl:px-0 pt-4 px-5 pb-12 xl:mt-0 mt-[56px] xl:min-h-[calc(100vh-292px)]">
      <!-- 麵包屑 -->
      <nav class="flex">
        <ol class="inline-flex items-center space-x-[6px]">
          <li class="inline-flex items-center">
            <a class="inline-flex items-center text-sm leading-[20px] text-light-dark whitespace-nowrap" href="#">
              景點+
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg class="fill-light-dark" width="16" height="16" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#kft993jrqa)">
                  <path
                    d="M8.97 19.53a.75.75 0 0 1-.073-.976l.073-.084L15.439 12l-6.47-6.47a.75.75 0 0 1-.072-.976l.073-.084a.75.75 0 0 1 .976-.073l.084.073 7 7a.75.75 0 0 1 .073.976l-.073.084-7 7a.75.75 0 0 1-1.06 0z" />
                </g>
                <defs>
                  <clipPath id="kft993jrqa">
                    <path fill="#fff" d="M0 0h24v24H0z" />
                  </clipPath>
                </defs>
              </svg>
              <a class="ml-[6px] inline-flex items-center text-sm leading-[20px] text-secondary line-clamp-1" href="#">
                <h1>關於我們</h1>
              </a>
            </div>
          </li>
        </ol>
      </nav>
      <!-- 麵包屑 start -->

      <!-- 主圖 -->
      <div class="mt-5">
        <a class="max-w-[800px] flex-1 overflow-hidden rounded block mx-auto" href="#">
          <img class="xl:aspect-[800/175] aspect-[350/125] object-cover w-full h-full" src="./images/about.jpg"
            loading="lazy" alt="" />
        </a>
      </div>
      <!-- 主圖 end -->

      <!-- 內容 -->
      <div class="max-w-[800px] xl:mt-8 mt-10 mx-auto">
        <p class="text-dark text-lg leading-[28px] mb-10 last:mb-0">
          誕生於社群分享蓬勃快速時代的「景點+」(原稱景點家)隸屬於城邦出版集團下「墨刻出版股份有限公司」。
        </p>
        <p class="text-dark text-lg leading-[28px] mb-10 last:mb-0">
          秉持「好玩好吃想拍照打卡的地方就是景點」的精神，持續分享生活與旅行中的各種亮點！
        </p>
        <p class="text-dark text-lg leading-[28px] mb-10 last:mb-0">
          透過Facebook、Instagram、Line、Youtube等不同型式的社群平台，每天耕耘與分享最具話題、最實用的拍照景點與美食旅宿優惠！讓景粉們輕鬆抓住各種玩樂情報、天天收到滿滿優惠與聊天話題！
        </p>
      </div>
      <!-- 內容 end -->
    </main>

    <!-- footer -->
    <%= require('html-loader?{"minimize":false,"sources":false}!../components/footer.html').default %>

      <!-- gotop -->
      <%= require('html-loader?{"minimize":false,"sources":false}!../components/gotop.html').default %>
</body>

</html>