<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>about</title>
</head>

<body>
  <!-- header -->
  <%= require('html-loader?{"minimize":false,"sources":false}!../components/header.html').default %>
    <main
      class="container mx-auto xl:pb-[72px] xl:pt-6 xl:px-0 pt-4 px-5 pb-12 xl:mt-0 mt-[56px] xl:min-h-[calc(100vh-292px)]">
      <!-- 麵包屑 -->
      <nav class="flex">
        <ol class="inline-flex items-center space-x-[6px]">
          <li class="inline-flex items-center">
            <a class="inline-flex items-center text-sm leading-[20px] text-light-dark whitespace-nowrap" href="#">
              景點+
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg class="fill-light-dark" width="16" height="16" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#kft993jrqa)">
                  <path
                    d="M8.97 19.53a.75.75 0 0 1-.073-.976l.073-.084L15.439 12l-6.47-6.47a.75.75 0 0 1-.072-.976l.073-.084a.75.75 0 0 1 .976-.073l.084.073 7 7a.75.75 0 0 1 .073.976l-.073.084-7 7a.75.75 0 0 1-1.06 0z" />
                </g>
                <defs>
                  <clipPath id="kft993jrqa">
                    <path fill="#fff" d="M0 0h24v24H0z" />
                  </clipPath>
                </defs>
              </svg>
              <a class="ml-[6px] inline-flex items-center text-sm leading-[20px] text-secondary line-clamp-1" href="#">
                <h1>關於我們</h1>
              </a>
            </div>
          </li>
        </ol>
      </nav>
      <!-- 麵包屑 start -->

      <!-- 主圖 -->
      <div class="mt-5">
        <a class="max-w-[800px] flex-1 overflow-hidden rounded block mx-auto" href="#">
          <img class="xl:aspect-[800/175] aspect-[350/125] object-cover w-full h-full" src="./images/about.jpg"
            loading="lazy" alt="" />
        </a>
      </div>
      <!-- 主圖 end -->

      <!-- 內容 -->
      <div class="max-w-[800px] xl:mt-8 mt-10 mx-auto">
        <p class="text-dark text-lg leading-[28px] mb-6 last:mb-0">
          大家好，我們回來了！
        </p>
        <p class="text-dark text-lg leading-[28px] mb-6 last:mb-0">
          在沈澱一段時間後，「景點+」決定換上全新面貌與大家見面。
          <br>即日起，我們正式更名為「MOOK玩什麼‧景點家」。
        </p>
        <p class="text-dark text-lg leading-[28px] mb-6 last:mb-0">
          這次重新出發，我們不只會帶上最即時的旅遊新聞，更整合了「MOOK墨刻出版」數十年的旅遊精華與「MOOK玩什麼」YT頻道的生動影音。
        </p>
        <p class="text-dark text-lg leading-[28px] mb-6 last:mb-0">
          在這裡，你可以看到：
        </p>
        <ul class="pl-5 mb-10 list-disc last:mb-0">
          <li class="text-dark text-lg leading-[28px] mb-4 last:mb-0">
            深度攻略：萃取墨刻旅遊書的精華，讓數位閱讀也能擁有出版級的專業深度。</li>
          <li class="text-dark text-lg leading-[28px] mb-4 last:mb-0">影音精選：結合 YT
            頻道的有趣知識，讓旅遊攻略動起來！</li>
          <li class="text-dark text-lg leading-[28px] mb-4 last:mb-0">
            即時速報：為你捕捉全球第一手旅遊新聞與時事。</li>
          <li class="text-dark text-lg leading-[28px] mb-4 last:mb-0">
            跨界選書：當旅遊遇上生活，我們也會推薦墨刻精選好書，陪你讀好書、走世界。</li>
        </ul>
        <p class="text-dark text-lg leading-[28px] mb-6 last:mb-0">
          我們已恢復全面更新，這不只是一個名字的改變，更是內容價值的全面升級；感謝你的守候，讓我們從現在開始的每一天，一起開心玩轉世界！
        </p>
      </div>
      <!-- 內容 end -->
    </main>

    <!-- footer -->
    <%= require('html-loader?{"minimize":false,"sources":false}!../components/footer.html').default %>

      <!-- gotop -->
      <%= require('html-loader?{"minimize":false,"sources":false}!../components/gotop.html').default %>
</body>

</html>