<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>copyright</title>
</head>

<body>
  <!-- header -->
  <%= require('html-loader?{"minimize":false,"sources":false}!../components/header.html').default %>
    <main
      class="container mx-auto xl:pb-[72px] xl:pt-6 xl:px-0 pt-4 px-5 pb-12 xl:mt-0 mt-[56px] xl:min-h-[calc(100vh-292px)]">
      <!-- 麵包屑 -->
      <nav class="flex">
        <ol class="inline-flex items-center space-x-[6px]">
          <li class="inline-flex items-center">
            <a class="inline-flex items-center text-sm leading-[20px] text-light-dark whitespace-nowrap" href="#">
              景點+
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg class="fill-light-dark" width="16" height="16" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#kft993jrqa)">
                  <path
                    d="M8.97 19.53a.75.75 0 0 1-.073-.976l.073-.084L15.439 12l-6.47-6.47a.75.75 0 0 1-.072-.976l.073-.084a.75.75 0 0 1 .976-.073l.084.073 7 7a.75.75 0 0 1 .073.976l-.073.084-7 7a.75.75 0 0 1-1.06 0z" />
                </g>
                <defs>
                  <clipPath id="kft993jrqa">
                    <path fill="#fff" d="M0 0h24v24H0z" />
                  </clipPath>
                </defs>
              </svg>
              <a class="ml-[6px] inline-flex items-center text-sm leading-[20px] text-secondary line-clamp-1" href="#">
                <h1>著作權聲明</h1>
              </a>
            </div>
          </li>
        </ol>
      </nav>
      <!-- 麵包屑 start -->

      <!-- 主圖 -->
      <div class="mt-5">
        <a class="max-w-[800px] flex-1 overflow-hidden rounded block mx-auto" href="#">
          <img class="xl:aspect-[800/175] aspect-[350/125] object-cover w-full h-full" src="../images/copyright.jpg"
            loading="lazy" alt="" />
        </a>
      </div>
      <!-- 主圖 end -->

      <!-- 內容 -->
      <div class="max-w-[800px] xl:mt-8 mt-10 mx-auto">
        <p class="text-dark text-lg leading-[28px] mb-10 last:mb-0">
          「景點+」(原稱景點家)網站內容的著作權為城邦文化事業股份有限公司（下稱本公司）或墨刻出版股份有限公司（下稱墨刻出版）所有，或其他授權本公司及《漂亮家居》使用的內容提供者所有。
        </p>
        <p class="text-dark text-lg leading-[28px] mb-10 last:mb-0">
          「景點+」(原稱景點家)網站上刊載的所有內容，包括但不限於文字、照片、影像、插圖、網站畫面的安排、網頁設計等素材，均受到中華民國著作權法、國際著作權法律及智慧財產權相關法律的保障，此相關智慧財產權包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。
        </p>
        <p class="text-dark text-lg leading-[28px] mb-10 last:mb-0">
          「景點+」(原稱景點家)網站所刊載之內容，或有提供或建置相關連結至第三人網頁，該等連結所指向之網頁或資料，均為被連結網站所提供，相關權利為該等網站或合法權利人所有，本站不擔保其正確性、即時性或完整性。
        </p>
        <p class="text-dark text-lg leading-[28px] mb-10 last:mb-0">
          「景點+」(原稱景點家)網站的內容或服務僅限於供個人、非商業用途之使用，任何人不得未經本公司同意，以任何形式傳輸、散布或提供予公眾。
        </p>
        <p class="text-dark text-lg leading-[28px] mb-10 last:mb-0">
          使用人利用時必須遵守著作權法的所有相關規定，不可變更、發行、播送、轉賣、重製、改作、散布、表演、展示或利用景點家網站上局部或全部內容及服務以賺取利益。
        </p>
        <p class="text-dark text-lg leading-[28px] mb-10 last:mb-0">
          「景點+」(原稱景點家)網站所刊載之內容，其所附屬之浮水印或相關著作權文字、商標或其他聲明，嚴禁更改或移除。
        </p>
        <p class="text-dark text-lg leading-[28px] mb-10 last:mb-0">
          本聲明的解釋與適用，以及有關的爭議，均應以中華民國法律為準據法（不包括依據涉外民事法律適用法而應適用外國法律的規定）。
        </p>
      </div>
      <!-- 內容 end -->
    </main>

    <!-- footer -->
    <%= require('html-loader?{"minimize":false,"sources":false}!../components/footer.html').default %>

      <!-- gotop -->
      <%= require('html-loader?{"minimize":false,"sources":false}!../components/gotop.html').default %>
</body>

</html>